In [1]:
import pandas as pd

In [ ]:
# Read the data from the CSV file sheet1.csv
data = pd.read_csv(r"C:\Khue\TDN\data\raw\sanluong\Sheet_1.csv", encoding="cp1252")

In [6]:
data

,CTDL,MADIEMDO,TENDIEMDO,SOCONGTO,STARTTIME,ENDTIME,CS,SL_PGIAOTONG
0,PC_SONLA,G2A000S000M331,Chính-331,40377597,01/01/2021 00:00:00,01/01/2021 00:30:00,0,"45,795,205"
1,PC_SONLA,G2A000S000M331,Chính-331,40377597,01/01/2021 00:30:00,01/01/2021 01:00:00,0,"45,795,205"
2,PC_SONLA,G2A000S000M331,Chính-331,40377597,01/01/2021 01:00:00,01/01/2021 01:30:00,0,"45,795,205"
3,PC_SONLA,G2A000S000M331,Chính-331,40377597,01/01/2021 01:30:00,01/01/2021 02:00:00,0,"45,795,205"
4,PC_SONLA,G2A000S000M331,Chính-331,40377597,01/01/2021 02:00:00,01/01/2021 02:30:00,0,"45,795,205"
...,...,...,...,...,...,...,...,...
60370,PC_SONLA,G2A004S000M171,Chính - 131,96238043,03/08/2021 17:00:00,03/08/2021 17:30:00,0,"734,616,716"
60371,PC_SONLA,G2A004S000M171,Chính - 131,96238043,03/08/2021 17:30:00,03/08/2021 18:00:00,0,"734,626,312"
60372,PC_SONLA,G2A004S000M171,Chính - 131,96238043,03/08/2021 18:00:00,03/08/2021 18:30:00,0,"734,635,938"
60373,PC_SONLA,G2A004S000M171,Chính - 131,96238043,03/08/2021 18:30:00,03/08/2021 19:00:00,0,"734,645,586"
60374,PC_SONLA,G2A004S000M171,Chính - 131,96238043,03/08/2021 19:00:00,03/08/2021 19:30:00,0,"734,655,144"

In [ ]:
# Tạo một DataFrame mới từ dữ liệu đã đọc, với các cột được chọn: 'MADIEMDO', 'STARTTIME','CS'
new_data = data[["MADIEMDO", "STARTTIME", "CS"]]
new_data

             MADIEMDO            STARTTIME CS
0      G2A000S000M331  01/01/2021 00:00:00  0
1      G2A000S000M331  01/01/2021 00:30:00  0
2      G2A000S000M331  01/01/2021 01:00:00  0
3      G2A000S000M331  01/01/2021 01:30:00  0
4      G2A000S000M331  01/01/2021 02:00:00  0
...               ...                  ... ..
60370  G2A004S000M171  03/08/2021 17:00:00  0
60371  G2A004S000M171  03/08/2021 17:30:00  0
60372  G2A004S000M171  03/08/2021 18:00:00  0
60373  G2A004S000M171  03/08/2021 18:30:00  0
60374  G2A004S000M171  03/08/2021 19:00:00  0

[60375 rows x 3 columns]

In [ ]:
# Tạo một DataFrame mới từ new_data, với cột đầu tiên là các giá trị unique của cột 'MADIEMDO', tiếp theo là các cột '01/01/2021 00:00:00',... tương ứng với giá trị của cột 'STARTTIME', giá trị tại mỗi cột là giá trị của cột 'CS' tương ứng với 'MADIEMDO' và 'STARTTIME' tương ứng
new_data = new_data.pivot(index="MADIEMDO", columns="STARTTIME", values="CS")
new_data

STARTTIME,01/01/2021 00:00:00,01/01/2021 00:30:00,01/01/2021 01:00:00,01/01/2021 01:30:00,01/01/2021 02:00:00,01/01/2021 02:30:00,01/01/2021 03:00:00,01/01/2021 03:30:00,01/01/2021 04:00:00,01/01/2021 04:30:00,...,12/31/2021 19:00:00,12/31/2021 19:30:00,12/31/2021 20:00:00,12/31/2021 20:30:00,12/31/2021 21:00:00,12/31/2021 21:30:00,12/31/2021 22:00:00,12/31/2021 22:30:00,12/31/2021 23:00:00,12/31/2021 23:30:00
MADIEMDO,,,,,,,,,,,,,,,,,,,,,
G2A000S000M331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
G2A000S000M332,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
G2A001S000M371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
G2A003S000M131,0,0,0,0,0,0,0,0,0,0,...,"15,115","15,081","7,744",0,0,0,0,0,0,0
G2A004S000M171,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Lưu DataFrame mới vào file CSV
new_data.to_csv(r"C:\Khue\TDN\data\processed\Sheet_test.csv")

In [ ]:
import pandas as pd
import unidecode
import re

def convert_nmtd_to_ten_nm(text):
    """
    - Bỏ tiền tố 'NMTĐ' hoặc 'NMTD' ở đầu (nếu có).
    - Loại bỏ dấu tiếng Việt.
    - Thay khoảng trắng và các ký tự đặc biệt thành dấu gạch dưới '_'.
    - Xóa bớt gạch dưới thừa ở đầu/cuối.
    """
    if pd.isna(text):
        return ""

    # Bỏ tiền tố 'NMTĐ' hoặc 'NMTD' (không phân biệt hoa thường)
    text = re.sub(r'^(?:NMTĐ|NMTD)\s*', '', text, flags=re.IGNORECASE)

    # Loại bỏ dấu tiếng Việt
    text = unidecode.unidecode(text)

    # Thay các ký tự không phải chữ hoặc số (kể cả dấu cách, dấu gạch ngang, dấu chấm...) thành '_'
    text = re.sub(r'[^A-Za-z0-9]+', '_', text)

    # Xóa dấu gạch dưới ở đầu hoặc cuối
    text = text.strip('_')

    # Chuyển về in hoa hoặc in thường tùy ý, ở đây ví dụ để in hoa:
    text = text.upper()

    return text

# Đọc dữ liệu từ file Excel
df = pd.read_excel(r"C:\Khue\TDN\data\raw\thong_tin_NMTD_main.xlsx")

# Tạo cột mới 'TEN_NM' từ cột 'NMTD'
df['TEN_NM'] = df['NMTD'].apply(convert_nmtd_to_ten_nm)

df.to_excel(r"C:\Khue\TDN\data\raw\thong_tin_NMTD_convert_ver2.xlsx", index=None)

In [13]:
import pandas as pd
import unidecode
import re

def convert_nmtd_to_ten_nm(text):
    """
    1. Chuyển về in hoa.
    2. Loại bỏ dấu tiếng Việt (dùng unidecode).
    3. Xóa tiền tố "NMTD" hoặc "MNTD" (sau khi bỏ dấu).
    4. Thay các ký tự không phải chữ/số thành dấu gạch dưới '_'.
    5. Xóa dấu gạch dưới ở đầu/cuối.
    """
    if pd.isna(text):
        return ""

    # 1. Chuyển về in hoa
    text = text.upper()

    # 2. Loại bỏ dấu tiếng Việt (chuyển NMTĐ, MNTĐ thành NMTD, MNTD...)
    text = unidecode.unidecode(text)

    # 3. Xóa tiền tố "NMTD" hoặc "MNTD" nếu có
    #    (?:...) là nhóm không capture, giúp gọn regex
    text = re.sub(r'^(?:NMTD|MNTD)\s*', '', text)

    # 4. Thay các ký tự không phải chữ/số bằng '_'
    text = re.sub(r'[^A-Za-z0-9]+', '_', text)

    # 5. Xóa dấu gạch dưới ở đầu hoặc cuối
    text = text.strip('_')

    return text

# Ví dụ kiểm tra nhanh
test_strings = [
    "MNTĐ KHE THƠI",
    "NMTÐ NẬM NA 1",
    "NMTĐ BẢO LÂM 1",
    "MNTD Nậm Mô",
]
for s in test_strings:
    print(s, "->", convert_nmtd_to_ten_nm(s))

# Tích hợp vào file Excel
df = pd.read_excel(r"C:\Khue\TDN\data\raw\thong_tin_NMTD_main.xlsx")
df["TEN_NM"] = df["NMTD"].apply(convert_nmtd_to_ten_nm)
df.to_excel(r"C:\Khue\TDN\data\raw\thong_tin_NMTD_convert_ver2.xlsx", index=False)
print("Đã chuyển đổi và lưu kết quả.")

MNTĐ KHE THƠI -> KHE_THOI
NMTÐ NẬM NA 1 -> NAM_NA_1
NMTĐ BẢO LÂM 1 -> BAO_LAM_1
MNTD Nậm Mô -> NAM_MO
Đã chuyển đổi và lưu kết quả.